<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.css">
<style>
    body{
        background-image: url({{ url_for('static', filename='fon.jpg') }});
        background-size: cover;
    }
</style>
<div>
  <div>
    {% if title %}
    <title>{{title}} - Gitlab search engine</title>
    {% else %}
        <title>Search engine</title>
    {% endif %}
  </div>
  <nav>
    <div class="nav-wrapper #795548 brown">
      <a href="#" class="brand-logo center">Base</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/search/">Search</a></li>
        <li><a href="/projects/">Projects</a></li>
      </ul>
    </div>
  </nav>
  <div>
    <h3>{{data}}</h3>
  </div>
  <div>
    {% block content %}{% endblock %}
  </div>
</div>